<div class="col-12 detail-errors">
  <div class="alert alert-danger">
    <strong>{{_ 'header.api_errors'}}</strong>
    <ul class="pl-3 mt-1 mb-0">
      {{#each errors}}<li>{{this}}</li>{{/each}}
    </ul>
  </div>
</div>