<div id="detail-media-wrapper">
  <div class="detail-media-header">{{#if mediaType}}<i class="fa fa-{{mediaType}}"></i> {{/if}}<span>{{label}}</span><button type="button" class="button-close-media-overlay" title="{{_ 'button.close'}}"><i class="fa fa-times"></i></button></div>
  <div class="detail-media-content"></div>
</div>